body{
    margin: 0%;
}
.icon{
    border-radius: 50px;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.box{
    border: 1px solid black;
    border-radius: 10px;
}

.box.searchBar{
    display: inline-block;
    height: 20px;
    width: 250%;
}

.box.mini{
    height: 100px;
    width: 20%;
    margin: 1px;
    display: inline-block;
    position: static;
}

.menu{
    position: static;
    display: inline-block;
    background-color: royalblue;
    height: 700px;
    width: 150px;
}

.header{
    margin: 15px;
    display: inline-block;
}